.SummaryReportPage {
  .Plot {
    height: auto;

    .PlotContainer {
      height: 600px;

      @media (min-width: 1600px) {
        height: 740px;
      }
    }
  }

  .PiesContainer {
    .Plot {
      @media print {
        page-break-inside: avoid;
      }

      .PlotContainer {
        height: 280px;
        width: 280px;

        @media (min-width: 1600px) {
          height: 370px;
          width: 370px;
        }

        @media print {
          width: 100%;
          height: 450px;
          page-break-inside: avoid;
        }
      }
    }

    @media print {
      page-break-inside: avoid;
    }
  }

  > .uk-grid {
    @media print {
      display: block;
    }
  }
}
