.SummaryReportPage {
  .Plot {
    height: auto;

    .PlotContainer {
      height: 600px;

      @media (min-width: 1600px) {
        height: 740px;
      }
    }
  }

  .PiesContainer {
    .PieContainer {
      height: 260px;
      width: 260px;

      @media (min-width: 1600px) {
        height: 350px;
        width: 350px;
      }

      @media print {
        height: auto;
      }

      + .PieContainer {
        margin-top: 2em;
      }
    }

    .Plot {
      @media print {
        page-break-inside: avoid;
      }

      .PlotContainer {
        height: 260px;
        width: 260px;

        @media (min-width: 1600px) {
          height: 350px;
          width: 350px;
        }

        @media print {
          width: 100%;
          height: 450px;
          page-break-inside: avoid;
        }
      }
    }

    @media print {
      page-break-inside: avoid;
    }
  }

  > .uk-grid {
    @media print {
      display: block;
    }
  }
}
